includes:
    - phpstan-ignore-by-php-version.neon.php
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
parameters:
    level: 8
    paths:
        - src/
        - tests/unit/
        - check-xmlrpc.php
        - check-ping.php
        - check-convert.php
        - check-compare.php